<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-chartboost" version="1.0.0">
    <name>AdsCharboost</name>
    <description>Android Chartboost</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,chartboost</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        
        <source-file src="src/deps/chartboost.jar" target-dir="libs" framework="true" />
        <source-file src="src/deps/com/ludei/ads/chartboost/AdServiceChartboost.java" target-dir="src/com/ludei/ads/chartboost" />
        <source-file src="src/deps/com/ludei/ads/chartboost/AdInterstitialChartboost.java" target-dir="src/com/ludei/ads/chartboost" />
        <source-file src="src/ChartboostPlugin.java" target-dir="src/com/ludei/ads/cordova" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.chartboost.sdk.CBImpressionActivity"
                android:configChanges="orientation|keyboard|keyboardHidden"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent"
                android:windowSoftInputMode="adjustResize" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LDChartboostPlugin">
                <param name="android-package" value="com.ludei.ads.cordova.ChartboostPlugin"/>
            </feature>
        </config-file>

    </platform>
    <dependency id="cocoon-plugin-ads-android-common" />
</plugin>