<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-mopub-inmobi" version="1.0.0">
    <name>MoPubAdapterInMobi</name>
    <description>iOS inmobi adapter for MoPub</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,inmobi</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
            <header-file src="src/InMobiBannerCustomEvent.h" />
            <source-file src="src/InMobiBannerCustomEvent.m" />
            <header-file src="src/InMobiInterstitialCustomEvent.h" />
            <source-file src="src/InMobiInterstitialCustomEvent.m" />
            <header-file src="src/InMobiNativeAdAdapter.h" />
            <source-file src="src/InMobiNativeAdAdapter.m" />
            <header-file src="src/InMobiNativeCustomEvent.h" />
            <source-file src="src/InMobiNativeCustomEvent.m" />
            <header-file src="src/InMobiRewardedCustomEvent.h" />
            <source-file src="src/InMobiRewardedCustomEvent.m" />
    </platform>
    <dependency id="cocoon-plugin-ads-ios-inmobi" />
    <dependency id="cocoon-plugin-ads-ios-mopub" />
</plugin>