<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-mopub-inmobi" version="1.0.0">
    <name>Ads Mopub InMobi</name>
    <description>Android MoPub InMobi Adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,inmobi</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo> 
    <platform name="android">
        
        <source-file src="src/deps/InMobi-4.4.1.jar" target-dir="libs" framework="true" />
        <source-file src="src/deps/mopub-inmobi-adapter.jar" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.inmobi.androidsdk.IMBrowserActivity"
                android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:hardwareAccelerated="true" />
        </config-file>
    </platform>

    <dependency id="cocoon-plugin-ads-android-mopub" />

</plugin>