<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ludei.ads.android.mopub.adcolony" version="1.0.0">
    <name>Ads Mopub</name>
    <description>Android MoPub AdColony Adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads</keywords>
    <platform name="android">
        
        <source-file src="src/deps/adcolony.jar" target-dir="libs" framework="true" />
        <source-file src="src/deps/mopub-adcolony-adapter.jar" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.jirbo.adcolony.AdColonyOverlay"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
            <activity
                android:name="com.jirbo.adcolony.AdColonyFullscreen"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
            <activity
                android:name="com.jirbo.adcolony.AdColonyBrowser"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        </config-file>
    </platform>

    <dependency id="com.ludei.ads.android.mopub" url="." subdir="src/cordova/android/mopub/base" />

</plugin>