<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-mopub-millennial" version="1.0.0">
    <name>AdsMoPubMillenial</name>
    <description>Android MoPub MillennialMedia Adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,millennial</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        
        <source-file src="src/deps/MMSDK.jar" target-dir="libs" framework="true" />
        <source-file src="src/deps/mopub-millenialmedia-adapter.jar" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.millennialmedia.android.MMActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|keyboard" />

            <activity android:name="com.millennialmedia.android.VideoPlayer" 
                android:configChanges="keyboardHidden|orientation|keyboard" />
        </config-file>
    </platform>

    <dependency id="cocoon-plugin-ads-android-mopub" />

</plugin>