<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ludei.ads.ios.mopub.charboost" version="1.0.0">
    <name>MoPubAdapterCharboost</name>
    <description>iOS Charboost adapter for MoPub</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,charboost</keywords>
    <platform name="ios">
        <source-file src="src/deps/libCharboostAdapter.a" framework="true" />
        <source-file src="src/deps/libChartboost.a" framework="true" />
    </platform>
    <dependency id="com.ludei.ads.ios.mopub" />
</plugin>