<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-mopub-adcolony" version="2.0.0">
    <name>MoPubAdapterAdColony</name>
    <description>iOS AdColony adapter for MoPub</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,adcolony</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
        <framework src="MoPub-AdColony-Adapters" type="podspec"/>

        <dependency id="cocoon-plugin-ads-ios-mopub"/>
        <dependency id="cocoon-plugin-ads-ios-adcolony"/>
    </platform>
</plugin>
