<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-mopub-adcolony" version="1.0.0">
    <name>MoPubAdapterAdColony</name>
    <description>iOS AdColony adapter for MoPub</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,adcolony</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
        <source-file src="src/deps/libAdColonyAdapter.a" framework="true" />

        <framework src="libz.dylib" />
        <framework src="social.framework" weak="true" />
        <framework src="webkit.framework" weak="true" />
    </platform>
    <dependency id="cocoon-plugin-ads-ios-mopub" />
    <dependency id="cocoon-plugin-ads-ios-adcolony" />
</plugin>
