<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-mopub" version="1.0.0">
    <name>AdsMopub</name>
    <description>iOS MoPub Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
        <source-file src="src/deps/external/libMoPub.a" framework="true" />
        <header-file src="src/deps/external/include/MPAdView.h" />
        <header-file src="src/deps/external/include/MPInterstitialAdController.h" />
        <header-file src="src/deps/external/include/MPConstants.h" />
        <resource-file src="src/deps/external/Resources/MPCloseButtonX.png" />
        <resource-file src="src/deps/external/Resources/MPCloseButtonX@2x.png" />
        <resource-file src="src/deps/external/Resources/MPCloseButtonX@3x.png" />
        <resource-file src="src/deps/external/Resources/MRAID.bundle" />
        <header-file src="src/deps/LDAdServiceMoPub.h" />
        <source-file src="src/deps/LDAdServiceMoPub.m" />
        <header-file src="src/LDMoPubPlugin.h" />
        <source-file src="src/LDMoPubPlugin.m" />

        <config-file target="config.xml" parent="/*">
            <feature name="LDAdService">
                <param name="ios-package" value="LDMoPubPlugin" />
            </feature>
            <feature name="LDMoPubPlugin">
                <param name="ios-package" value="LDMoPubPlugin" />
            </feature>
        </config-file>

    </platform>
    <dependency id="cocoon-plugin-ads-ios-common" />
</plugin>