<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-applovin" version="1.1.0">
    <name>AdsAppLovin</name>
    <description>iOS AppLovin Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,applovin,rewarded</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
        <preference name="SDK_KEY"/>

        <config-file target="*-Info.plist" parent="AppLovinSdkKey">
            <string>$SDK_KEY</string>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="LDAppLovinPlugin">
                <param name="ios-package" value="LDAppLovinPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <header-file src="src/LDAppLovinPlugin.h"/>
        <source-file src="src/LDAppLovinPlugin.m"/>

        <framework src="libz.tbd"/>
        <framework src="AdSupport.framework"/>
        <framework src="libs/AppLovinSDK.framework" custom="true"/>
        <framework src="AVFoundation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="WebKit.framework"/>

        <dependency id="cocoon-plugin-ads-ios-common"/>
    </platform>
</plugin>
