<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-applovin" version="1.0.1">
    <name>AdsAppLovin</name>
    <description>iOS AppLovin Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,applovin,rewarded</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
        <preference name="APP_ID" />
        
        <framework src="src/deps/external/AppLovin.framework" custom="true" />

        <framework src="AdSupport.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />

        <config-file target="*-Info.plist" parent="AppLovinSdkKey">
            <string>$APP_ID</string>
        </config-file>

    <dependency id="cocoon-plugin-ads-ios-common" version="1.0.5" />
    </platform>
</plugin>