<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-applovin" version="1.0.0">
    <name>AdsAppLovin</name>
    <description>Android AppLovin Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,interstitial,monetization,ad,applovin,rewarded</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        <preference name="APP_ID" />

        <source-file src="src/deps/applovin-sdk-6.2.4.jar" target-dir="libs" framework="true" />
        <source-file src="src/ApplovinPlugin.java" target-dir="src/com/ludei/ads/cordova" />

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="applovin_app_id">$APP_ID</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="applovin.sdk.key" android:value="@string/applovin_app_id"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
            <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
        </config-file>

        <framework src="com.google.android.gms:play-services-ads:9.0.2" />`
        <dependency id="cocoon-plugin-ads-android-common" />
    </platform>
</plugin>