<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res-auto"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-applovin" version="2.0.0">
    <name>AdsAppLovin</name>
    <description>Android AppLovin Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,interstitial,monetization,ad,applovin,rewarded</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        <preference name="SDK_KEY"/>

        <config-file target="app/src/main/res/values/strings.xml" parent="/resources">
            <string name="applovin_sdk_key">SDK_KEY</string>
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="application">
            <meta-data android:name="applovin.sdk.key" android:value="@string/applovin_sdk_key"/>
        </config-file>

        <source-file src="libs/applovin-sdk-8.1.0.jar" target-dir="libs" framework="true"/>
        <source-file src="src/com/ludei/ads/cordova/AppLovinPlugin.java" target-dir="src/com/ludei/ads/cordova"/>

        <config-file target="app/src/main/AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
                      android:configChanges="orientation|screenSize"/>
            <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"
                      android:configChanges="orientation|screenSize"/>
        </config-file>

        <framework src="com.google.android.gms:play-services-ads:15.0.1"/>`
        <dependency id="cocoon-plugin-ads-android-common"/>
    </platform>
</plugin>
