<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-inmobi" version="2.0.0">
    <name>AdsAppLovin</name>
    <description>iOS InMobi Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,inmobi,rewarded</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">

        <framework src="libsqlite3.0.tbd"/>
        <framework src="libz.tbd"/>
        <framework src="libs/InMobiSDK.framework" custom="true"/>
        <framework src="WebKit.framework"/>

        <dependency id="cocoon-plugin-ads-ios-common"/>
    </platform>
</plugin>
