<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-adcolony" version="1.0.0">
    <name>AdsAdcolony</name>
    <description>Android AdColony</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,adcolony</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        
        <source-file src="src/deps/adcolony.jar" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.jirbo.adcolony.AdColonyOverlay"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
            <activity
                android:name="com.jirbo.adcolony.AdColonyFullscreen"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
            <activity
                android:name="com.jirbo.adcolony.AdColonyBrowser"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        </config-file>
    </platform>
</plugin>