<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res-auto"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-adcolony" version="2.0.0">
    <name>AdsAdcolony</name>
    <description>Android AdColony</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,adcolony</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        <source-file src="libs/armeabi-v7a/libadcolony.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <source-file src="libs/armeabi-v7a/libjs.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <source-file src="libs/adcolony-3.3.5.jar" target-dir="libs" framework="true"/>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
                      android:configChanges="keyboardHidden|orientation|screenSize"
                      android:hardwareAccelerated="true"/>

            <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"
                      android:configChanges="keyboardHidden|orientation|screenSize"
                      android:hardwareAccelerated="true"/>
        </config-file>
    </platform>
</plugin>
