<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-mopub-applovin" version="2.0.0">
    <name>AdsMopubAppLovin</name>
    <description>Android MoPub AppLovin Adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,adcolony</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        <framework src="build.gradle" custom="true" type="gradleReference" />

        <dependency id="cocoon-plugin-ads-android-applovin"/>
        <dependency id="cocoon-plugin-ads-android-mopub"/>
    </platform>
</plugin>
