<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-mopub-applovin" version="1.0.0">
    <name>MoPubAdapterAppLovin</name>
    <description>iOS applovin adapter for MoPub</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,applovin</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
            <header-file src="src/AppLovinInterstitialCustomEvent.h" />
            <source-file src="src/AppLovinInterstitialCustomEvent.m" />
            <header-file src="src/AppLovinRewardedCustomEvent.h" />
            <source-file src="src/AppLovinRewardedCustomEvent.m" />
    </platform>
    <dependency id="cocoon-plugin-ads-ios-applovin" />
    <dependency id="cocoon-plugin-ads-ios-mopub" />
</plugin>