<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-heyzap" version="1.0.3">
    <name>AdsHeyzap</name>
    <description>Android Heyzap Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,heyzap</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">

        <source-file src="src/deps/heyzap-ads-sdk-9.4.4.jar" target-dir="libs" framework="true" />

        <source-file src="src/deps/com/ludei/ads/heyzap/AdBannerHeyzap.java" target-dir="src/com/ludei/ads/heyzap" />
        <source-file src="src/deps/com/ludei/ads/heyzap/AdInterstitialHeyzap.java" target-dir="src/com/ludei/ads/heyzap" />
        <source-file src="src/deps/com/ludei/ads/heyzap/AdRewardedHeyzap.java" target-dir="src/com/ludei/ads/heyzap" />
        <source-file src="src/deps/com/ludei/ads/heyzap/AdServiceHeyzap.java" target-dir="src/com/ludei/ads/heyzap" />
        <source-file src="src/HeyzapPlugin.java" target-dir="src/com/ludei/ads/cordova" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LDAdService">
                <param name="android-package" value="com.ludei.ads.cordova.HeyzapPlugin"/>
            </feature>
            <feature name="LDHeyzapPlugin">
                <param name="android-package" value="com.ludei.ads.cordova.HeyzapPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
              <uses-permission android:name="android.permission.INTERNET" />
              <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- Heyzap Ad Network -->
            <activity android:name="com.heyzap.sdk.ads.HeyzapInterstitialActivity" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" />
            <activity android:name="com.heyzap.sdk.ads.HeyzapVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" />
            <activity android:name="com.heyzap.sdk.ads.HeyzapProxyActivity" />
            <activity android:name="com.heyzap.sdk.ads.VASTActivity" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" />
            <activity android:name="com.heyzap.sdk.ads.MediationTestActivity" />
            <receiver android:name="com.heyzap.sdk.ads.PackageAddedReceiver">
                <intent-filter>
                    <data android:scheme="package"/>
                    <action android:name="android.intent.action.PACKAGE_ADDED"/>
                </intent-filter>
            </receiver>
        </config-file>

        <dependency id="cocoon-plugin-ads-android-common" />
    </platform>

</plugin>
