<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-unityads" version="1.0.0">
    <name>AdsAdColony</name>
    <description>iOS Unity Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,adcolony,rewarded</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        <resource-file src="deps/external/unity-ads.aar" target="libs/unity-ads.aar" />
        <framework src="deps/external/unity-ads.gradle" custom="true" type="gradleReference" />
        <dependency id="cocoon-plugin-ads-android-common" />
    </platform>
</plugin>