<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-unityads" version="2.0.1">
    <name>AdsUnityAds</name>
    <description>Android Unity Ads implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,unityads,rewarded</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        <lib-file src="libs/unity-ads-2.3.0.aar"/>
        <framework src="libs/unity-ads.gradle" custom="true" type="gradleReference"/>
        <dependency id="cocoon-plugin-ads-android-common"/>
    </platform>
</plugin>
