<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-mopub-chartboost" version="1.0.5">

    <name>AdsMopubCharboost</name>
    <description>Android MoPub Chartboost Adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,chartboost</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>

    <platform name="android">
        <source-file src="src/ChartboostInterstitial.java" target-dir="src/com/mopub/mobileads" />
        <source-file src="src/ChartboostRewardedVideo.java" target-dir="src/com/mopub/mobileads" />
        <source-file src="src/ChartboostShared.java" target-dir="src/com/mopub/mobileads" />
    </platform>

    <dependency id="cocoon-plugin-ads-android-chartboost" version="1.0.7" />
    <dependency id="cocoon-plugin-ads-android-mopub" version="1.0.6" />

</plugin>