<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-mopub-chartboost" version="1.0.0">
    <name>AdsMopubCharboost</name>
    <description>Android MoPub Chartboost Adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,chartboost</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        
        <source-file src="src/deps/chartboost.jar" target-dir="libs" framework="true" />
        <source-file src="src/deps/mopub-chartboost-adapter.jar" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.chartboost.sdk.CBImpressionActivity"
                android:configChanges="orientation|keyboard|keyboardHidden"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent"
                android:windowSoftInputMode="adjustResize" />
        </config-file>
    </platform>

    <dependency id="cocoon-plugin-ads-android-mopub" />

</plugin>