<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-admob-adcolony" version="1.0.0">
    <name>AdMobAdapterAdColony</name>
    <description>iOS AdColony adapter for AdMob</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,adcolony,admob</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="ios">
        <source-file src="src/deps/libAdapterSDKAdColony.a" framework="true" />
    </platform>
    <dependency id="cocoon-plugin-ads-ios-admob" />
    <dependency id="cocoon-plugin-ads-ios-adcolony" />
</plugin>