<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-ios-heyzap-chartboost" version="1.1.0">
    <name>HeyzapAdapterAdChartboost</name>
    <description>iOS Ads Heyzap chartboost adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,heyzap,chartboost</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>

    <platform name="ios">
        <hook type="before_plugin_install" src="hooks/before_plugin_install/000_create_symlinks.js"/>

        <framework src="src/ios/Fyber_Chartboost_6.5.2-r1.framework" custom="true" compiler-flags="-fmodules"/>

        <framework src="AVFoundation.framework"/>
        <framework src="CoreData.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="QuartzCore.framework"/>

        <framework src="AdSupport.framework" weak="true"/>
    </platform>

    <dependency id="cocoon-plugin-ads-ios-heyzap"/>
</plugin>
