<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ludei.ads.android.mopub.greystripe" version="1.0.0">
    <name>Ads Mopub</name>
    <description>Android MoPub GreyStripe Adapter</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ads</keywords>
    <platform name="android">
        
        <source-file src="src/deps/conversant-android-sdk-2.4.0.jar" target-dir="libs" framework="true" />
        <source-file src="src/deps/mopub-greystripe-adapter.jar" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.greystripe.sdk.GSFullscreenActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        </config-file>
    </platform>

    <dependency id="com.ludei.ads.android.mopub" url="." subdir="src/cordova/android/mopub/base" />

</plugin>