<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-mopub-greystripe" version="1.0.0">
    <name>AdsMopubGreyStripe</name>
    <description>Android MoPub GreyStripe Adapter</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad,mopub,greystripe</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>
    <platform name="android">
        
        <source-file src="src/deps/conversant-android-sdk-2.4.0.jar" target-dir="libs" framework="true" />
        <source-file src="src/deps/mopub-greystripe-adapter.jar" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.greystripe.sdk.GSFullscreenActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        </config-file>
    </platform>

    <dependency id="cocoon-plugin-ads-android-mopub" />

</plugin>