<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-ads-android-common" version="1.0.2">
    <name>AdsCommon</name>
    <description>Cross platform Ads API for different Ad Providers. Full support for banners and interstitial</description>
    <license>MPL 2.0</license>
    <keywords>cordova,ads,banner,interstitial,monetization,ad</keywords>
    <repo>https://github.com/ludei/atomic-plugins-ads</repo>    
    <platform name="android">
        <source-file src="src/AdServicePlugin.java" target-dir="src/com/ludei/ads/cordova" />
        <source-file src="src/deps/com/ludei/ads/AdService.java" target-dir="src/com/ludei/ads" />
        <source-file src="src/deps/com/ludei/ads/AdInterstitial.java" target-dir="src/com/ludei/ads" />
        <source-file src="src/deps/com/ludei/ads/AbstractAdInterstitial.java" target-dir="src/com/ludei/ads" />
        <source-file src="src/deps/com/ludei/ads/AdBanner.java" target-dir="src/com/ludei/ads" />
        <source-file src="src/deps/com/ludei/ads/AbstractAdBanner.java" target-dir="src/com/ludei/ads" />
    </platform>

    <dependency id="cocoon-plugin-ads-common" />
</plugin>